.nav-color {
    background-color: rgb(177, 180, 185);

}

body, html {
    background-color: rgb(255, 255, 255);
}

footer {
    
    height: 50px;
    width: 100%;
}

.custom-ul{
    margin-right: 80px;
}

.thick-border {
    border-width:3px !important;
}